html{
    background-color: rgb(223, 170, 58);
}
.left-side{
    background-color: rgb(223, 170, 58);
}


.right-side{
    background-color: rgb(97, 212, 88);
    background-image: url("./food.jpg");
    background-position: center;
}

.btn-section{
width: 100% !important;
}

.btn-custom{
    margin: 15px 5px;
    width: 150px;
    border-radius: 10px;
}
.details{
    background-color: #6969697a;
    color:#fff;
    margin: auto;
    border-radius: 25px;
    padding: 20px 25px; 
    width:300px;
    border: none;
}
.main-details{
    background-color: transparent;
    border:none;
    color:#fff;
    margin: auto;
    border-radius: 25px;
    padding: 20px 25px; 
    width:400px;
    height: 500px;

    margin-top: 20%;

}
.custom-container{
    height: 93vh;
}

.gallery img{
    height: 20rem;
     width: 15rem;
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
    .details{
        width: 300px;
    }
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {
        font-size:3rem;
        margin: 100px 25px 25px 25px;
    } /*1rem = 16px*/
    .details{
        width: 400px;
    }
    
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {
        font-size:4rem;
        margin: 100px 25px 25px 25px;
    } /*1rem = 16px*/
    .details{
        width: 500px;
    }
    
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {
        font-size:5rem;
        margin: 100px 25px 25px 25px;
    } /*1rem = 16px*/    
  }
   
  /*
  ::::::::::::::::::::::::::::::::::::::::::::::::::::
  Custom media queries
  */
   
  /* Set width to make card deck cards 100% width */
  @media (min-width: 500px) and (max-width:768px) { 
    h1 {
        font-size:4.5rem;
        padding: 25px 10px;
    } 
    .details{
        width: 500px;
    }
    .background-image{
    background-image: url("./food.jpg");
    background-position: center;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    opacity: 0.5;
    }
    
  }
  @media (min-width: 200px) and (max-width:500px) { 
    h1 {
        font-size:4rem;
        padding: 15px 7px;
    } 
  }



  .slider-images{
    max-height: 400px;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 10px;
  }

  .input-label{
    background-image: url(./camera100w.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center left;
    background-size: contain;
    width: 100%;
    background-color: #198754;
    height: 30px;
  }

  ::-webkit-scrollbar {
    width: 10px;

  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #198754;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
      background-color: #198754;

  }